<style>
  
</style>

<header class="lwj-demo-header">
  <div class="logo-wrapper">
    
    <a href="https://www.edyflow.com" class="logo"
      ><img src="/images/230728-edyflow-Logo-colordark-small.png" alt="home"
    /></a>
    <a href="/" rel="home" class="home-link"></a>
  </div>

  <div class="top-bar"></div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</header>

<script type="module">
  import { startAnimation } from '/js/dots.js';

  startAnimation();
</script>
