:root {
  --pink: #CF1CF0;
  --yellow: #ffdf37;
  --purple: #8E03F4;
  --light-gray: #e0e0e0;
  --dark-gray: #201f1f;
  --gray: #3f4f61;
  --black: #011627;
  --black-transparent: #01162700;
  --white: white;
  --lwj-gradient: linear-gradient(
    162deg, #CF1CF0 0%, #8E03F4 100%
  );
  --text: var(--gray);
  --text-muted: #687889;
  --font-family: Poppins;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--white);
  color: var(--text);
  font-family: Poppins;
  font-weight: 400;
  margin: 0;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 900;
}

main {
  margin: 4rem auto;
  max-width: 640px;
  min-height: calc(100vh - 242px);
  width: 90vw;
}

@keyframes gradient-roll {
  0% {
    background-position: -100vw 0;
  }

  100% {
    background-position: 0 0;
  }
}
